@charset 'utf-8';

body {
  text-align: center;
  width: 100%;
  height: 100%;
  background: #010101;
  color: #e7be51;
}

p{
  font-size: 4em;
  user-select: none;
}
#text-area{
  margin-top: 100px;
  width: 100%;
  text-align: center;
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 2em;
  color: #e7be51;
  background: #010101; 
  overflow: hidden;
  border: none;
  resize: none;
  outline: none;
}

footer{
  font-size: 0.3em;
}